


<h1>ABOUT US</h1>
<h2> CREATING AWARENESS AMONG PEOPLE ON MALNUTRITION</h2>
<p>we have created awareness on malnutrition among pregrant ladies an child and given some precautions to be followed to escape from malnutrition.such as
    The best way to prevent malnutrition is to eat a healthy, balanced diet. Try not to miss or skip meals and aim to eat three small meals a day and two to three snacks a day if your appetite is poor. Take drinks after your meal, not before or during as that can fill you up.
    plenty of fruit and vegetables.
plenty of starchy foods such as bread, rice, potatoes, pasta.
some milk and diary foods or non-dairy alternatives.
some sources of protein, such as meat, fish, eggs and beans.
Treat/ prevent hypoglycaemia. Treat hypoglycaemia with glucose immediately. ...
Treat/prevent hypothermia. ...
Treat/prevent dehydration. ...
Correct electrolyte imbalance. ...
Treat/prevent infection. ...
Correct micronutrient deficiencies. ...
Start cautious feeding. ...
Achieve catch-up growth.These strategies include the promotion of appropriate breastfeeding and complementary feeding practices, access to appropriate health care for the prevention and treatment of disease, and improved sanitation and hygiene practices.
</p>
<br><br><br><br>
<br>
<br>
<table>
    <tr>
 <div class="image-container" >
<div class="zoom"><img [src]="myimagea1"></div>
<div class="zoom"><img [src]="myimagea2"></div>
<div class="zoom"><img [src]="myimagea3"></div>

<div class="zoom"><img [src]="myimagea4"></div>
</div>
</tr>
<tr>
<div class="image-container">

<div class="zoom"><img [src]="myimagea5" ></div>
<div class="zoom"><img [src]="myimagea6" ></div>
<div class="zoom"><img [src]="myimagea7" ></div>

<div class="zoom"><img [src]="myimagea8"></div>
</div>
</tr>
</table>






<h1>DISCUSSING WITH DOCTORS FOR SUGGESTION and symptoms</h1>
<p>we have discussed with doctors for suggestions.such asLosing 5-10% of total body weight without exercise
  Fatigue
  Dizziness
  Skinny or bloated
  Brittle or spooned nails
  Slow wound healing
  Skin may be pale, thick, dry and bruise easily
  Soft and tender bones
  Joint ache
  Visual disturbances
  Anemia
  Goiter (enlarged thyroid gland)Muscle twitches
  Loss of reflexes and lack of muscular coordination
  Scaling and cracking of the lips and mouth
  Malnourished children will be short and thin for their age and will have a weak immune system
  Malnutrition can affect people of all age groups and both sexes equally, from infants to adults to the elderly. Overall appearance, behavior, and body-fat distribution are manifestations of malnutrition that can alert your family physician to check the condition.

  Blood and urine tests are done to measure the levels of vitamins, minerals, and other nutrients</p>
  
  <div class="container">
    <div class='images-container'>
    <img [src]="myimagea8">
    <img [src]="myimagea9">
    </div></div>
<h1>LETTER FROM DOCTOR</h1>
<div class="container">
  <div class='images-container'>
  <img [src]="myimagea11">
  <img [src]="myimagea10">
  </div></div>