


<div class="body">





    <div class="heading-slider fade-in">
        <h1 class="slide">Narasaraopeta Engineering College</h1>
      </div>
      <h5>Department of Computer Science and Engineering</h5>
      <br/>
      
     
      
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
        <span class="div">
            <div class="btn">
        <div class="example-button-row">
          <button mat-raised-button color="accent"><a routerLink="signup" (click)="onSignupClick()">Sign Up</a></button>
        
          <button mat-raised-button color="accent"><a routerLink="signin" (click)="onSigninClick()">Sign In</a></button>
          
        </div>
    </div>
    </span>
      
    
    
      
      <img align="center" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUAIV8eB2pTBG6w1Fy4SC_mm8n0f97w4QGJGw0Jbc&s" width="200"/>
      <h2>COMMUNITY SERVICE PROJECT  </h2>
      <h3>ON</h3>
      
      <h4> AWARENESS OF MALNUTRITION</h4>
      
      <img src="assets/image/nec.jpg" class="center">
      <br/>
      
      </div>
      
      
      
      