<app-m1></app-m1>


 
 
        <h1>What is prenatal care??</h1>
        <hr>
        <p>Having a healthy pregnancy is one of the best ways to promote a healthy birth. Getting early and regular prenatal care improves the chances of a healthy pregnancy. This care can begin even before pregnancy with a pre-pregnancy care visit to a health care provider.Women who suspect they may be pregnant should schedule a visit to their health care provider to begin prenatal care. Prenatal visits to a health care provider usually include a physical exam, weight checks, and providing a urine sample. Depending on the stage of the pregnancy, health care providers may also do blood tests and imaging tests, such as ultrasound exams. These visits also include discussions about the mother's health, the fetus's health, and any questions about the pregnancy.</p>
 
                 <p>Reduce the risk of pregnancy complications. Following a healthy, safe diet; getting regular exercise as advised by a health care provider; and avoiding exposure to potentially harmful substances such as lead and radiation can help reduce the risk for problems during pregnancy and promote fetal health and development.4 Controlling existing conditions, such as high blood pressure and diabetes, is important to prevent serious complications and their effects</p>
 
    
     <div class="right">
        <img src="https://res.cloudinary.com/arpr/image/upload/v1540359700/adult-affection-baby-755028.jpg" height="50%" width="50%">
        <img src="https://cdn.shopify.com/s/files/1/0226/0459/files/kids_smell_cook_vegetables_children_asian_food_mom_pic.jpg?11187235255977366235" height="50%" width="50%"> 
    </div>
  
 
   <div class="left">
        <img src="https://img.freepik.com/premium-photo/baby-parents-arms-drinks-baby-food-from-bottle-mom-dad-keep-care-their-adorable-infant-fee_124865-22331.jpg" height="30%" width="30%"> 
    <img src="https://www.verywellfamily.com/thmb/Px0D-BPnhdzSWAVgdF9hZJkG0Wc=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/181215281-edit-56a13e133df78cf77268b820.jpg" height="60%" width="70%">
    </div>
       <div class="right">
        <hr>
        <p>Reduce the fetus's and infant's risk for complications. Tobacco smoke and alcohol use during pregnancy have been shown to increase the risk for Sudden Infant Death Syndrome.Alcohol use also increases the risk for fetal alcohol spectrum disorders, which can cause a variety of problems such as abnormal facial features, having a small head, poor coordination, poor memory, intellectual disability, and problems with the heart, kidneys, or bones.7 According to one recent study supported by the NIH, these and other long-term problems can occur even with low levels of prenatal alcohol exposure</p>
 
                 <p>n addition, taking 400 micrograms of folic acid daily reduces the risk for neural tube defects by 70%.2,9 Most prenatal vitamins contain the recommended 400 micrograms of folic acid as well as other vitamins that pregnant women and their developing fetus need.1,10 Folic acid has been added to foods like cereals, breads, pasta, and other grain-based foods. Although a related form (called folate) is present in orange juice and leafy, green vegetables (such as kale and spinach), folate is not absorbed as well as folic acid.
                   Help ensure the medications women take are safe. Women should not take certain medications, including some acne treatments11 and dietary and herbal supplements,12 during pregnancy because they can harm the fetus.</p>
 
    
     <footer class="footer">
       <div class="container">
         <div class="row">
           <div class="footer-col">
             <h4>MALNUTRITION</h4>
             <ul>
               <li><a href="http://localhost:4200/home">Home</a></li>
               <li><a href="http://localhost:4200/sc3">About Us</a></li>
               <li><a href="http://localhost:4200/sc4">CONTACT US</a></li>
               <li><a href="http://localhost:4200/insert">SERVICES</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <h4>Get Help</h4>
             <ul>
               <li><a href="http://localhost:4200/sc10">Nutrition</a></li>
               <li><a href="http://localhost:4200/sc8">WHO</a></li>
               <li><a href="http://localhost:4200/sc1">INFO</a></li>
    
             </ul>
           </div>
           <div class="footer-col">
            <h4>Address</h4>
            <ul>
              <li><a href="https://www.nrtec.in/">NarasaraopetaEngineering College is an Engineering college for Higher Education in India, located in Narasaraopeta, Guntur District, Andhra Pradesh, India.</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="https://www.nrtec.in/"><i class="fa fa-google"></i>Website</a>
              <a href="https://www.nrtec.in/cse-faculty/"><i class="fa fa-google"></i>CSE</a>
              <a href="https://www.instagram.com/nrtec/"><i class="fa fa-google"></i>instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="https://www.facebook.com/nrtenggcollege/"><i class="fa fa-google"></i>Facebook</a>
            </div>
          </div>
        </div>
      </div>
   </footer>