<app-m1></app-m1>

<h1>Anganwadi Centers</h1>
<p><b>Anganwadi Services (now renamed as Saksham Anganwadi and Poshan 2.0) is a Centrally Sponsored Scheme implemented by States/UTs providing a package of six services, namely, 
   <p> (i) Supplementary Nutrition; </p>
   <p> (ii) Pre-school Non-formal Education; </p>
    <p>(iii) Nutrition & Health Education; </p>
    <p>(iv) Immunization;</p>
    <p>(v) Health Check-up; and </p>
    <p>(vi) Referral Services </p>
    <div class="row">
        <div class="column">
          <img src="assets/image/Anganwadi2.jpg" alt="Snow" style="width:100%">
        </div>
        <div class="column">
          <img src="assets/image/aganwadi6.jpg" alt="Forest" style="width:95%">
        </div>
        <div class="column">
          <img src="assets/image/aganwadi4.jpg" alt="Mountains" style="width:110%">
        </div>
      </div>
      
    has been provided to all eligible beneficiaries, namely, children in the age group of 0-6 years, pregnant women and lactating mothers through the platform of Anganwadi Centres across the country. Three of the services viz. Immunization, Health Check-up and Referral Services are related to health and are provided through NRHM & Public Health Infrastructure.

 

    The Scheme today operates through a network of 7075 fully operational Projects and 13.89 lakh AWCs as on June, 2021. The services are currently being provided through 13.14 lakhs Anganwadi Workers and 11.74 Anganwadi Helpers to 906.17 lakh beneficiaries of which 736.91 lakh are children under six and 169.26 lakh are pregnant women & lactating mothers. Till June 2021, a total number of 200.44 lakh children of 3-6 years were covered under pre-school education of which 102.40 lakhs were boys and 98.04 lakhs were girls.
    
     
    
    In order to make the programme more effective and to ensure that all benefits including supplementary nutrition should reach to the intended beneficiaries, Government has taken steps to strengthen nutritional content, delivery outreach and outcomes with focus on developing practices that nurture health, wellness and immunity to disease and malnutrition. Steps have been taken to improve nutritional quality and testing in accredited labs, strengthen delivery and leverage technology to improve governance. States/ UTs have been advised to ensure that the quality of supplementary nutrition conforms to prescribed standards laid down under Food Safety and Standards Act, 2006 and regulations made thereunder. A programme to support development of Poshan Vatikas at Anganwadi Centres to meet dietary diversity gap and leveraging of traditional knowledge and AYUSH practices has also been taken up.
    
     
    
    Various interventions are being taken from time to time by the Government for effective implementation of the Scheme and ensuring that the intended benefits reach the last mile beneficiary. In this regard, Streamlined guidelines were issued on 13.01.2021, covering several aspects such as quality assurance, roles and responsibilities of duty holders, procedure for procurement, integrating AYUSH concepts and Data management and monitoring through “Poshan Tracker” for transparency, efficiency and accountability in delivery of Supplementary Nutrition has been issued.
    
     
    
    A robust ICT enabled platform named Poshan tracker has been designed to capture real-time data on implementation and monitoring of Anganwadi Services across the country. The Poshan Tracker management application provides a 360 - degree view of the activities of the Anganwadi Centre (AWC), service deliveries of Anganwadi Workers (AWWs) and complete beneficiary management.
    
     
    
    This information was given by the Union Minister of Women and Child Development, Smt. Smriti Zubin Irani, in a written reply in Rajya Sabha today.</b></p>


   
