<app-m1></app-m1>
<body id="p">


<div class="par">

<input type="text" [(ngModel)]="User.ID_NO" name="ID_NO" #ID_NO="ngModel" required ngModel>&nbsp;
<br/>
<button type="submit"  class="btn btn-success my-2" (click)="Read()" >Read</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<div *ngIf="canShowData">

    <hr> 
    
    <table >
        <tr>
          <th colspan="10" style="text-align: center;"><h4>Malnutrition</h4></th>
        </tr>
        <tr>
          <td colspan="4">ID_NO</td>
          <td colspan="6">{{User.ID_NO}}</td>
        </tr>
        <tr>
          <td colspan="4">Name</td>
          <td colspan="6">{{User.Name}}</td>
        </tr>
        <tr>
            <td colspan="4">Disease</td>
            <td colspan="6">{{User.Disease}}</td>
          </tr>
          <tr>
            <td colspan="4">Ph_NO</td>
            <td colspan="6">{{User.Ph_NO}}</td>
          </tr>
          <tr>
            <td colspan="4">Mail_ID</td>
            <td colspan="6">{{User.Mail_ID}}</td>
          </tr>
          <tr>
            <td colspan="4">City</td>
            <td colspan="6">{{User.City}}</td>
          </tr>
        
      </table>