<app-m1></app-m1>
<h1>MALNUTRITION AND COVID-19 IN INDIA</h1>
<P>The COVID-19 pandemic is
    disproportionately exacerbating
    nutrition challenges faced by women’s
    and girls’ nutrition. Pandemic lockdowns
    and containment measures created
    four compounding crises that continue
    to adversely impact women and girls’
    nutrition: increased poverty, increased
    food insecurity, reduced access to health
    services, and extensive school closures.
    These crises, amplified by existing gender
    power relations and women’s lack of
    agency, are intensifying malnutrition in
    women and children in low- and middleincome countries (LMICs). Malnutrition
    among women leads to an extraordinary
    loss of human capital as it also impairs
    the future health and productivity of their
    children and their communities. </P>
        <img [src]="image6"  width="33%" height="300px">
        <img [src]="image5"  width="35%" height="300px">
        <img [src]="image9"  width="30%" height="300px">
<h1>EFFECTS OF MALNUTRITION KIDS DURING PANDEMICS</h1>
<P>Malnutrition in children can have severe effects on their health and well-being, and the COVID-19 pandemic has exacerbated many of these effects. Here are some specific impacts of malnutrition on children during the COVID-19 pandemic:-</P>
<P>1:  Increased Vulnerability to Infections: Malnourished children have weakened immune systems, making them more susceptible to infections, including COVID-19. They may experience more severe illness if they contract the virus.</P>
<P>2:  Impaired Growth and Development: Malnutrition hampers a child's physical and cognitive development. During the pandemic, limited access to nutritious food due to disrupted supply chains, economic hardships, and decreased access to healthcare and social services can further hinder a child's growth and development.</P>
<P>3:  Weakened Immune Response: Malnutrition can compromise the immune system, reducing the child's ability to fight off infections effectively. This can lead to an increased risk of respiratory infections, including COVID-19.</P>
<P>4:  Nutritional Deficiencies: Malnourished children often lack essential nutrients necessary for proper growth and development. The pandemic has led to food shortages, reduced access to fresh produce, and disruptions in food assistance programs, exacerbating nutritional deficiencies.</P>
<div>
    <img [src]="image8"  width="55%" height="500px">
    <img [src]="image7"  width="55%" height="500px">
</div>
<div>
    <img [src]="image11"  width="50%" height="400px">
    </div>