<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
        
          <a class="nav-link" routerLink="m1" (click)="onM1Click()">Home <span class="sr-only">(current)</span></a>   
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sc3" (click)="onSc3Click()">About Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sc4" (click)="onSc4Click()">Contact Us <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/nec" (click)="onNecClick()">NEC <span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
    </div>
  </nav>



<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
 
  <div class="g">
    <h1 class="a1">PREVENT</h1>
        <h2 class="a2">HUNGER</h2>
        <h3 class="a3">TOMORROW</h3>
      
    
    <p>Treatment for malnutrition (undernutrition) depends on the underlying cause and how<br> malnourished a person is

        You may be given advice to follow at home, or be supported<br> at home by a dietitian or other qualified healthcare professional. In severe cases,<br>treatment in hospital may be needed.

. </p></div>



  
 
  

        <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
        <div id="slider">
        <figure>
        
        <img src="assets/image/image6.jpg" alt>
        <img src="assets/image/image7.jpeg" alt>
        <img src="assets/image/image1.jpg" alt>
        <img src="assets/image/image2.jpeg" alt>
        
        
        

        
        </figure>
        </div>


  
        <img class="img" style="margin-top: 1cm" align="right" src="assets/image/image5.jpg" width="550px" height="300px">


  
        
      
      
       

       

<p class="r">Hunger is predictable, preventable, and treatable. Yet, one in ten people <br>suffer from hunger and 75 percent of malnourished children do not have<br> access to life-saving treatment.</p>
<p class="r1">Two million children die every year from<br> malnutrition lp save lives and create a<br> world free from hunger.</p>


<img src="assets/image/image7.jpg" class="r3">




<h4 class="r4">SAVING LIVES<br>&IMPROVING<br>HEALTH</h4>
<p class="r5">Malnutrition is one of the greatest threats to child survival worldwide and the underlying cause of nearly half of all child deaths. Action Against Hunger’s expertise in saving malnourished children’s lives is internationally renowned, thanks to our more than four decades of experience working where hunger is most severe and entrenched.

    From isolated rural communities to overcrowded urban slums to refugee camps, we prevent and treat undernutrition in more than 50 countries around the world. We work in humanitarian emergencies and in more stable contexts to improve the health and survival of the most vulnerable children, as well as pregnant women and nursing mothers.Our teams train community health workers to educate mothers, fathers, and other caregivers about the benefits of breastfeeding and improved nutrition to help babies and young children grow up strong and healthy. In our peer support groups, we work with pregnant women and new mothers – and fathers, too! – to encourage and promote good health, nutrition, hygiene, sanitation, and care practices for mothers, infants, and young children.

    We also teach parents to use simple tools to detect malnutrition at home, without the help of a health worker. This way, they can monitor their children’s nutrition status regularly and – if needed – get them treated as soon as possible.trong health systems save lives and help children not only survive, but thrive. We provide technical expertise and support to strengthen community health systems, helping to harness and build local capacity. Our aim is to transfer our knowledge, fill in gaps in supplies and funding, work in partnership with communities and local governments, and improve local health and nutrition services to ensure sustainable impact.</p>









<div class="boxplace">
<div class="container">
  <div class="front">WHAT IS MALNUTRITION</div>
  <div class="overlay">
    <div class="text">Malnutrition, in all its forms, includes
      undernutrition (wasting, stunting, underweight), inadequate 
      vitamins or minerals, overweight, obesity, and resulting diet-related
       noncommunicable diseases. 1.9 billion adults
      are overweight or obese, while 462 million are underweight.</div>
  </div>
</div>



<div class="container">
  <div class="front">SYMPTOMS AND CAUSES OF MALNUTRITION</div>
  <div class="overlay">
    <div class="text">loss of appetite and lack of interest in food or fluids.
      unplanned weight loss - this might cause clothing, rings, watches or dentures to become loose.
      tiredness or low energy levels.
      reduced ability to perform everyday tasks like showering, getting dressed or cooking..</div>
  </div>
</div>




  <div class="container">
    <div class="front">PREVENTION OF MALNUTRITION</div>
    <div class="overlay">
      <div class="text">The best way to prevent malnutrition is to eat a healthy, balanced diet. 
        You need to eat a variety of foods from the main food groups, including: 
        plenty of fruit and vegetables. plenty of starchy foods such as bread, rice,
         potatoes, pasta.
          </div>
    </div>
  </div>

</div>

<div class="boxplace">

    <div class="container">
      <div class="front">TREATMENT FOR MALNUTRITION</div>
      <div class="overlay">
        <div class="text">dietary changes, such as eating foods high in energy and nutrients.
          support for families to help them manage factors affecting the child's nutritional intake.
          treatment for any underlying medical conditions causing malnutrition.
          vitamin and mineral supplements.</div>
      </div>
    </div>





  
      <div class="container">
        <div class="front">WHAT FOOD IS BEST FOR MALNUTRITION </div>
        <div class="overlay">
          <div class="text">plenty of fruit and vegetables.
            plenty of starchy foods such as bread, rice, potatoes, pasta.
            some milk and diary foods or non-dairy alternatives.
            some sources of protein, such as meat, fish, eggs and beans.</div>
        </div>
      </div>






    
        <div class="container">
          <div class="front">WH0 REPORT ON MALNUTRITION IN INDIA</div>
          <div class="overlay">
            <div class="text">According to the National Family Health Survey (NFHS) 2019-21,
               the 5th in the series India has seen no significant improvement in health and nutritional status among her population. The latest data shows, 7.7% of children are severely wasted,
                19.3% are wasted and 35.5% are stunted.</div>
          </div>
        </div>

      </div>


        



       
<div class="container">
  <img src="https://www.insightsonindia.com/wp-content/uploads/2023/01/malnu.png" alt="Avatar" class="image"  height="350px" width="700px">

  <div class="overlay">
    <div class="text">There are 4 broad sub-forms of undernutrition: 
      <br>
      WASTING, STUNTING, UNDERWEIGHT, <br>and<br> DEFICIENCE IN VITAMINS & MINERALS.</div>
  </div>
</div>
 








</body>
</html>


