<app-m1></app-m1>
<h2 style="color: rgb(226, 43, 171);">UNICEF’s response</h2>


<div class="container">
  <img src="assets/image/hell.jpeg" height="400" width="400" class="image">
  <div class="middle">
    <div class="text"><li>Improving women’s diets, access to nutrition services,nutrition care practices – before 
        and during pregnancy and while breastfeeding – is critical to preventing malnutrition in all its forms.</li></div>
    </div>
</div>


<div class="container">
  <img src="assets/image/okk (2).jpeg" height="400" width="400" class="image">
  <div class="middle">
    <div class="text"><li>Nutrition during pregnancy
        UNICEF promotes healthy eating, micronutrient supplementation 
        (iron and folic acid or multiple micronutrients, and calcium) weight gain monitoring, physical activity,
         and rest to improve the nutrition of pregnant women.</li></div>
  </div>
</div>


<div class="container">
  <img src="assets/image/okk (1).jpeg" height="400" width="400"  class="image">
  <div class="middle">
    <div class="text"><li>Government of India adopted the Reproductive, Maternal, New-born, Child and Adolescent Health (RMNCH+A) framework in 2013, It essentially aims to address the major causes of mortality and morbidity among women and children. 
        </li></div>
  </div>
</div>

<b>Stunting, wasting and overweight in children aged under 5 years are included as primary outcome indicators in the core set of indicators for the Global Nutrition Monitoring Frameworkto monitor progress towards reaching Global Nutrition Targets 1, 4 and 6. These three indicators are also included in WHO's Global reference list of 100 core health indicators.

    How are these indicators defined? 
    
    These indicators are defined as follows: 
    
    stunting - height-for-age <-2 SD of the WHO Child growth standards median;
    wasting - weight-for-height <-2 SD of the WHO Child growth standards median; and
    overweight - weight-for-height >+2 SD of the WHO Child growth standards median.;
    underweight - weight-for-age <-2 standard deviations (SD) of the WHO Child growth standards median;
    Stunting - Children who suffer from growth retardation as a result of poor diets or 

    recurrent infections tend to be at greater risk for illness and death.
     Stunting is the result of long-term nutritional deprivation, and often results in delayed mental development, poor school performance and reduced intellectual capacity. In turn, this affects economic productivity at the national level. Women of short stature are at greater risk for obstetric complications because of a smaller pelvis. Also, small women are at greater risk of delivering an infant with low birth weight, contributing to the intergenerational cycle of malnutrition, because infants of low birth weight or retarded intrauterine growth tend be smaller as adults.

    Wasting - Wasting in children is a symptom of acute
     undernutrition, usually as a consequence of insufficient food intake or a high incidence of infectious diseases, especially diarrhoea. In turn, wasting impairs the functioning of the immune system and can lead to increased severity and duration of, and susceptibility to, infectious diseases, and an increased risk of death.
    
    Overweight - Childhood obesity is associated with a higher probability of 
    obesity in adulthood, which can lead to a variety of disabilities and diseases,
     such as diabetes and cardiovascular diseases. The risks for most noncommunicable diseases (NCDs) resulting 
     from obesity depend partly on the age at onset and the duration of obesity. Obese
      children and adolescents are likely to suffer from both short-term and long-term 
      health consequences, the most significant being:</b>
