<app-m1></app-m1>
<h1>WHO RESPONSE</h1>
<div class='image-container'>
<P>WHO works with Member States and partners towards the goal of ending all forms of malnutrition by 2030 as part of the Sustainable Development Goals. Meeting this goal is contingent on securing universal access to effective nutrition interventions and to healthy diets from sustainable and resilient food systems.

    To this end, WHO advocates for policies that promote nutrition on a global scale and develop evidence-informed guidance for their implementation. This work is framed by the 2012 World Health Assembly resolution 65.6: Comprehensive implementation plan on maternal, infant and young child nutrition. It also contributes to the United Nations Decade of Action on Nutrition 2016–2025.  Actions to end malnutrition are also vital for achieving the diet-related targets of the Global action plan for the prevention and control of noncommunicable diseases 2013–2020, the Global strategy for women’s, children’s, and adolescent’s health 2016–2030, and the 2030 Agenda for sustainable development.The World Health Organization (WHO) envisages a world free from all forms of malnutrition, where all people achieve health and well-being. Actions should target the various causes of malnutrition to achieve sustainable change, which requires a comprehensive and multisectoral approach.</P>
    <img [src]="P17">
    </div>
    <div class='images-container'>
        <img [src]="P20">
        <img [src]="imgourpic3">
        </div>
<h1>ROLES OF WHO</h1>
<P>Adequate provision of nutrients, beginning in the early stages of life, is fundamental for optimal health and growth. Effective nutrition policies and actions exist but are often inadequate in the face of the complexity of the double burden of malnutrition – wasting, stunting, low birth weight and micronutrient deficiencies on one hand, and overweight, obesity and diet-related noncommunicable diseases (NCDs) on the other. At the same time, the nutrition landscape is changing with the increased marketing of unhealthy processed food, urbanization and economic growth.

    The World Health Organization (WHO) envisages a world free from all forms of malnutrition, where all people achieve health and well-being. Actions should target the various causes of malnutrition to achieve sustainable change, which requires a comprehensive and multisectoral approach. WHO works with partners to support Member States to develop, implement and monitor effective strategies and plans, advocate for supportive regulatory actions and policies, and monitor progress of global targets. In the midst of the United Nations Decade of Action on Nutrition 2016 - 2025, there is further opportunity for sustained and coherent implementation of policies, programmes and increased investments to eliminate malnutrition in all its forms, leaving no one behind.  </P>
    <h2>Launch of the COVID-19 impact on nutrition Analytical Framework</h2>
    <p>The COVID-19 pandemic shocked the world affecting organizations and institutions that supported the delivery of nutrition programs at all levels. To timely respond to the needs of the nutrition community, the Agile Core Team for Nutrition Monitoring (ACT-NM) group, a collaboration amongst UNICEF, USAID, WHO and USAID Advancing Nutrition, developed an analytical framework for exploring pathways for the impact of COVD-19 pandemic on key nutrition outcomes.

        The comprehensive analytical framework encompasses the six maternal, infant and young children nutrition targets endorsed by WHA, the outcomes monitored towards the elimination of malnutrition in all its forms, one of the Sustainable Development Goals (SDGs) targets. 
        
        Linking the overarching categories of food, health, social protection, education, water, and sanitation to outcomes and impacts of COVID-19 on nutrition, the Analytical Framework the is an useful tool that allows users to construct context-specific pathways to study the impact of COVID-19 and future shocks.
        
        The Analytical Framework Visualizer can be accessed at https://www.who.int/tools/covid19-nutrition-analytical-framework
        
        Health care professionals, community health workers, business owners, and policy makers can all delve into the impacts of a given shock, exploring various contexts that expand into underlying determinants. Policy makers can also click on the visualizer’s interactive features to expand, collapse, and build out their own pathways and explore the impacts of specific shocks, such as a lockdown or supply chain disruption. The tool allows for the download a pool of potential data sources for the several factors included in the framework, the data mapping tool. </p>
    <div class='image-container'>
        <img [src]="P14">
        <img [src]="p15">
        </div>
        
<h2>Urgent action needed as acute malnutrition threatens the lives of millions of vulnerable children</h2>
<p>United Nations agencies are calling for urgent action to protect the most vulnerable children in the 15 countries hardest hit by an unprecedented food and nutrition crisis.

    Conflict, climate shocks, the ongoing impacts of COVID-19, and rising costs of living are leaving increasing numbers of children acutely malnourished while key health, nutrition and other life-saving services are becoming less accessible. Currently, more than 30 million children in the 15 worst-affected countries suffer from wasting – or acute malnutrition – and 8 million of these children are severely wasted, the deadliest form of undernutrition. This is a major threat to children’s lives and to their long-term health and development, the impacts of which are felt by individuals, their communities and their countries.     
    
    In response, five UN agencies – the Food and Agriculture Organization (FAO), the UN Refugee Agency (UNHCR), the United Nations Children’s Fund (UNICEF), the World Food Programme (WFP) and the World Health Organization (WHO) – are calling for accelerated progress on the Global Action Plan on Child Wasting. It aims to prevent, detect and treat acute malnutrition among children in the worst-affected countries, which are Afghanistan, Burkina Faso, Chad, Democratic Republic of the Congo, Ethiopia, Haiti, Kenya, Madagascar, Mali, the Niger, Nigeria, Somalia, South Sudan, Sudan and Yemen.
    
    The Global Action Plan addresses the need for a multi-sectoral approach and highlights priority actions across maternal and child nutrition through the food, health, water and sanitation, and social protection systems. In response to increasing needs, the UN agencies identified five priority actions that will be effective in addressing acute malnutrition in countries affected by conflict and natural disasters and in humanitarian emergencies. Scaling up these actions as a coordinated package will be critical for preventing and treating acute malnutrition in children, and averting a tragic loss of life.
    
    The UN agencies call for decisive and timely action to prevent this crisis from becoming a tragedy for the world’s most vulnerable children. All agencies urge for greater investment in support of a coordinated UN response that will meet the unprecedented needs of this growing crisis, before it is too late.</p>
    <div class='image-container'>
        <img [src]="P16">
        <img [src]="P17">
        </div>
        <div class='image-container'>
            <ul>
                <li><h2>UN Agencies Back Bold Plan To Ensure Every Child In Need Gets A Regular Healthy Meal In School By 2030</h2><p>United Nations agencies have announced their strong support for an international coalition aiming to rapidly improve the nutrition, health and education of school-age children around the world following pandemic-driven school closures.

                    In 2020, the COVID-19 pandemic caused extensive disruption to schools and education worldwide and millions of children were unable to get their school meals or benefit from school-based health and nutrition services such as deworming, vaccination and psycho-social support. Globally, more than 150 million children are still missing out on meals and essential health and nutrition services.
                    
                    In a joint declaration, five agencies committed to assisting the School Meals Coalition, a grouping of more than 60 countries led by France and Finland, whose vision is to give every child in need the opportunity to receive a nutritious meal in school by 2030. The coalition is also committed to ‘smart’ school meals programmes, which combine regular meals in school with complementary health and nutrition interventions for children’s growth and learning.
                    
                    “School health and nutrition programmes are impactful interventions to support schoolchildren and adolescents’ growth and development”, the UN agencies’ leaders said in their declaration. “They can help to combat child poverty, hunger and malnutrition in all its forms. They attract children to school and support children’s learning, and long-term health and well-being.”</p></li>
                    
                    
            </ul>

            <img [src]="P18">
            </div>
            <h2>Monitoring flour fortification to maximize health benefits: a manual for millers, regulators, and programme managers</h2>
                <p>Flour fortification is the practice of deliberately increasing the content of one or more essential micronutrients in flour. Fortification of wheat and maize flours with vitamins and minerals is considered a cost–effective strategy to address micronutrient malnutrition and nutrition-associated health outcomes, such as anaemia or the prevention of neural tube defects

                    Fortification programmes must be monitored to confirm that they are working effectively, thereby ensuring the population is receiving a nutritious and safe fortified end-product. The development of fortification monitoring systems that can be properly implemented and maintained requires careful planning.
                    
                    The design and components of monitoring systems will vary according to the maturity of the programme and the resources available. This manual distinguishes two main categories of monitoring: regulatory monitoring and household or consumption monitoring. Regulatory monitoring includes four subtypes of monitoring: internal, external, import, and commercial, which collectively aim to provide consumers with fortified flour that is of high quality, safe, and adequately fortified. Consumption monitoring involves households and their members.
                    
                    This manual covers selected WHO/CDC indicators for monitoring fortification programmes. The use of these standardized monitoring indicators can facilitate comparison of results and sharing of knowledge across programmes worldwide. In brief, this manual aims to:</p>
                    <p>present a general monitoring framework to assist with the design and implementation of monitoring systems for flour fortification programmes;

                        • facilitate the use of standard WHO/CDC indicators;
                        
                        • provide examples of practical tools which may be used for monitoring purposes;
                        
                        • highlight relevant examples from existing fortification programmes;
                        
                        • serve as a resource for training persons involved in the design, implementation,
                         and management of flour fortification monitoring systems.
                        
                        This document is intended for stakeholders of the country’s fortification
                         programme who have interest in and/or authority for setting up monitoring of 
                         the programme. Stakeholders may include government agencies that oversee
                          fortification; government agencies that monitor fortification, such as inspectors and staff of the food
                           control authority; industry partners 
                         that fortify or are part of the supply chain, such as millers, flour importers, and premix manufacturers; research institutions; consumer-protection groups; fortification programme managers and international organizations that provide technical assistance to food and nutrition programmes.
                    </p>

