<app-m1></app-m1>
<!DOCTYPE html>
<html>
<head>
<style>
img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
</style>
</head>
<body>

<h2>What is BMI?</h2>

<p>The values for body mass index (BMI) are age-independent for adult populations and are the same for both genders. BMI may not, however, correspond to the same degree of fatness in different populations due, in part, to different body proportions. The health risks associated with increasing BMI are continuous, and the interpretation of BMI grading in relation to risk may differ for different populations.</p>

   <p> Proportions of underweight in women aged 15-49 years and of overweight in women aged 18 years or more are included as intermediate outcome indicators in the core set of indicators for the Global Nutrition Monitoring Framework. Adult overweight is also included in the NCD Global Monitoring Framework as well as in the WHO Global Reference List of 100 Core Health Indicators.  
</p>
<h3> How BMI is Defined?</h3>
<p>BMI is a simple index of weight-to-height that is commonly used to classify underweight, overweight and obesity in adults. It is defined as the weight in kilograms divided by the square of the height in metres (kg/m2). For example, an adult who weighs 58 kg and has a height of 1.70 m will have a BMI of 20.1, where BMI = 58 kg/(1.70 m  1.70 m) = 20.1. BMI values indicate the following:</p>
<p><b>a)</b> BMI =17.0: thinness </p>
<p><b>b)</b> BMI =18.5: underweight</p>
<p><b>c)</b> BMI 18.5-24.9: normal weight</p>
<p><b>d)</b> BMI ≥25.0: overweight</p>
<p><b>e)</b> BMI ≥30.0: obesity.</p>
<h4>What are the consequences and implications?</h4>
<div>
<img src="assets/image/bmi2.png" width="60%" height="400px">
<p><b>1) Thinness: </b> A BMI =17.0 indicates thinness in adult populations. It has been clearly linked to increases in illness in adults studied in three continents; therefore, it is a reasonable value to choose as a cut-off point for moderate risk. A BMI <=16.0 is known to be associated with a markedly increased risk for ill-health, poor physical performance, lethargy and even death; therefore, this cut-off point is a valid extreme limit.</p>
<p><b>2) Underweight: </b> The cut-off point of a BMI of 18.5 for underweight in both genders has less experimental validity as a cut-off point for thinness, but is a reasonable value for use pending further comprehensive studies. The proportion of the population with a low BMI that is considered to be a public health problem is closely linked to the resources available for correcting the problem, the stability of the environment and government priorities. About 3to5% of a healthy adult population has a BMI =18.5.</p>
<p> <b>3) Overweight: </b> A BMI ≥25 signifies overweight; it is a major determinant of many NCDs (e.g. non-insulin-dependent diabetes mellitus, coronary heart disease and stroke), and it increases the risks for several types of cancer, gallbladder disease, musculoskeletal disorders and respiratory symptoms. In some populations, the metabolic consequences of weight gain start at modest levels of overweight.</p>
<p><b>4) Obesity :</b> A BMI ≥30 signifies obesity, which is a disease that is largely preventable through lifestyle changes. The costs attributable to obesity are high, not only in terms of premature death and health care, but also in terms of disability and a diminished quality of life.</p>

</div>
<h5>Overview Of BMI:</h5>
<div class="row">
    <div class="column">
      <img src="assets/image/P13.jpg"  style="width:60%" height="100%">
    </div>
    <div class="column">
      <img src="assets/image/bmi1.jpg" alt="Forest" style="width:120%">
    </div>
    
  </div>