

<p>
    <mat-toolbar>
      <span>
        <div class="dropdown">
        <a routerLink="sc1" (click)="onSc1Click()">Malnutrition</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc2" (click)="onSc2Click()">UNICEF</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc5" (click)="onSc5Click()">Anganwadi</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc6" (click)="onSc6Click()">Ascites</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc7" (click)="onSc7Click()">BMI</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc8" (click)="onSc8Click()">WHO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          
        



        <a routerLink="sc9" (click)="onSc9Click()">Effects</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="sc10" (click)="onSc10Click()">Nutrition</a>&nbsp;&nbsp;
<a routerLink="sc11" (click)="onSc11Click()">Covid</a>&nbsp;&nbsp;&nbsp;
<a routerLink="sc12" (click)="onSc12Click()">parental care</a>&nbsp;&nbsp;&nbsp;


    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            SERVICES
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" routerLink="insert" (click)="onInsertClick()">Insert</a>&nbsp;
        <a class="dropdown-item" routerLink="update" (click)="onUpdateClick()">Update</a>
        <a class="dropdown-item" routerLink="delete" (click)="onDeleteClick()">delete</a>&nbsp;
        <a class="dropdown-item" routerLink="read" (click)="onReadClick()">Read</a>&nbsp;
        <a class="dropdown-item" routerLink="insert1" (click)="onInsert1Click()">Insert1</a>&nbsp;
        <a class="dropdown-item" routerLink="update1" (click)="onUpdate1Click()">Update1</a>&nbsp;
        <a class="dropdown-item" routerLink="delete1" (click)="onDelete1Click()">delete1</a>&nbsp;;&nbsp;
        <a class="dropdown-item" routerLink="read1" (click)="onRead1Click()">Read1</a>&nbsp;
        <a class="dropdown-item" routerLink="insert2" (click)="onInsert2Click()">Insert2</a>&nbsp;
        <a class="dropdown-item" routerLink="update2" (click)="onUpdate2Click()">Update2</a>&nbsp;
        <a class="dropdown-item" routerLink="delete2" (click)="onDelete2Click()">delete2</a>&nbsp;;&nbsp;
        <a class="dropdown-item" routerLink="read2" (click)="onRead2Click()">Read2</a>&nbsp;
        
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="#" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    </div>
    </span>
    </mat-toolbar>
  </p>
  
  