<app-m1></app-m1>
<h2 style="color: rgb(226, 43, 171);">what is Malnutrition?</h2>
<b><p>Malnutrition refers to deficiencies, excesses or imbalances in a person’s intake
     of energy and/or nutrients. The term malnutrition covers 2 broad groups of conditions. One is
      ‘undernutrition’—which includes stunting (low height for age), wasting (low weight for height),
       underweight (low weight for age) and micronutrient deficiencies or insufficiencies
        (a lack of important vitamins and minerals). The other is overweight, obesity and
         diet-related noncommunicable diseases (such as heart disease, stroke, diabetes, and cancer).</p></b>
         <div class="row">
            <div class="column">
         <mat-card class="example-card">
            <mat-card-header>
              
              <mat-card-title>MALNUTRITION</mat-card-title>
              <mat-card-subtitle>UNDER NUTRITION</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/image/o1.jpg" height="165" width="370">
            <mat-card-content>
                <p>
                    Poor Gut Health Persists In Malnourished Children, Even After Treatment..As young children develop,
                     the community of bacteria and other microbes in their intestines develops with them.
                     In healthy children, the community reaches maturity about the time a child turns two years old.
                  </p>
                </mat-card-content>
        </mat-card>
                  </div>      
    
    
                  <div class="column">
                  <mat-card class="example-card">
                    <mat-card-header>
                      
                      <mat-card-title>MALNUTRITION</mat-card-title>
                      <mat-card-subtitle>OVER NUTRITION</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="assets/image/o2.jpg" height="145" width="350">
                    <mat-card-content>
                      <p>Among the lifestyle habits that influence the risk of overweight and obesity in children, 
    watching television is the worst, suggests new research. 
    "Identifying habits linked to overweight and obesity in the early stages of life can help us to define preventive strategies against other conditions,
     such as cardiovascular and metabolic diseases during adulthood,"
                      </p>
                    </mat-card-content>
            </mat-card>
        </div>
    
    
        <div class="column">
            <mat-card class="example-card">
              <mat-card-header>
                
                <mat-card-title>DISEASES OF MALNUTRITION</mat-card-title>
                <mat-card-subtitle>Types</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/image/o3.jpg" height="145" width="370">
              <mat-card-content>
                <p>
    5 Diseases Caused by the Lack of Nutrition<br>
    1)Kwashiorkor. This is one of the most acute malnutrition of proteins in the world.<br>
    2)Marasmus. This disease is caused by the very severe lack of protein and calories.<br>
3)Anemia. The most common illness which is caused by malnutrition. ...
4)Mumps
5)Vitamin Deficiency.
            </p>
          </mat-card-content>
  </mat-card>
 
</div>
</div>


<b>What is child malnutrition?<br>
    To summarize the common points, child malnutrition may be defined as a pathological state resulting
     from inadequate nutrition, including undernutrition (protein-energy malnutrition) due to insufficient intake of 
     energy and other nutrients; overnutrition (overweight and obesity) 
    due to excessive consumption of energy ...</b><br>
    <b>What are the 4 types of malnutrition?<br>
        There are 4 broad sub-forms of undernutrition: wasting, stunting,
         underweight, and deficiencies in vitamins and minerals. Undernutrition makes 
         children in particular much more vulnerable to disease and death. Low weight-for-height is known as wasting.
    </b>
    <b>What causes malnutrition?<br>
        Malnutrition means poor nutrition. Most commonly this is caused by not eating enough (undernutrition) or not 
        eating enough of the right food to give your body the nutrients it needs.
       </b>