<app-m1></app-m1><!DOCTYPE html>
<html>
<head>
<style>
img {
  float: right;
  border: 1px dotted black;
  margin: 0px 0px 15px 20px;
}
</style>
</head>
<body>

<h2>What are Ascites?</h2>

<p> Kwashiorkor and marasmus are the two main types of severe protein-energy undernutrition recognized by healthcare providers worldwide. The main difference between them is that kwashiorkor is predominantly a protein deficiency, while marasmus is a deficiency of all macronutrients — protein, carbohydrates and fats. People with marasmus are deprived of calories in general, either because they’re eating too little or expending too many, or both. People with kwashiorkor may not be deprived of calories in general but are deprived of protein-rich foods.</p>
<h3>What are the signs and symptoms of Ascites?</h3>
<img src="assets/image/abdominal edema1.jpg" width="60%" height="400px">
   <p> 1) Edema (swelling with fluid, especially in the ankles and feet).</p>
   <p> 2) Bloated stomach with ascites (a build-up of fluid in the abdominal cavity).</p>
   <p> 3) Dry, brittle hair, hair loss and loss of pigment in hair.</p>
   <p> 4) Dermatitis — dry, peeling skin, scaly patches or red patches.</p>
   <p> 5) Enlarged liver, a symptom of fatty liver disease.</p>
   <p> 6) Depleted muscle mass but retained subcutaneous fat (under the skin).</p>
   <p> 7) Dehydration.</p>
   <p> 8) Loss of appetite (anorexia).</p>
   <p> 9) Irritability and fatigue.</p>
   <p> 10) Stunted growth in children.</p>
    
<h4>How can Ascites be prevented?</h4>
<p><b>1) Education: </b> Some populations simply aren’t informed of basic nutrition, the benefits of breastfeeding or the nutritional needs of children and mothers.</p>
<p><b>2) Nutritional support: </b> The WHO and other organizations are working to reintroduce native crops that offer sources of protein and micronutrients in affected countries. They have developed nutritional formulas made from locally available resources, such as skim milk and peanuts.</p>
<p><b>3) Disease control: </b> Widespread diseases and infections weaken the immunity of high-risk populations. Diseased bodies require more nutritional resources and could shed calories through chronic diarrhea. Diseases also deplete a community’s material resources, breeding poverty. Improved sanitation and immunizations can go a long way toward preventing malnutrition.</p>
</body>
</html>

<div class="row">
    <div class="column">
      <img src="assets/image/abdominal edema2.jpg" alt="Snow" style="width:90%">
    </div>
    <div class="column">
      <img src="assets/image/abdominal edema3.jpg" alt="Forest" style="width:95%">
    </div>
    
  </div>


