<app-m1></app-m1>
<h1>NUTRITION</h1>
<p>Almost 821 million people are chronically undernourished, 149 million children under the age of five years are affected by stunting and over 49.5 million by wasting. In contrast, over 40 million children under five are overweight and adult obesity is worsening - now around 678 million are obese(more than 1 in 8 adults in the world),a figure that continues to grow and increases the risk of noncommunicable diseases. A large proportion of the world population is also affected by micronutrient (vitamin and mineral) deficiencies (“hidden hunger”). One in three women of reproductive age globally is affected by anaemia, with significant health and development consequences for both women and their children. Many countries face a serious burden of either two or three forms of malnutrition and trends predict that the 1 in 3 people currently malnourished will grow to 1 in 2 people soon.

   The world has made progress in reducing malnutrition, specifically undernutrition. However, these gains have been modest and uneven across regions, populations groups and gender. Several forms of malnutrition can be found in the same country, the same community, the same household and even the same person—a testament to the complexity of the problem. Nor is the nutrition challenge an isolated one; rather, it is sensitive to conflict, inequity, power imbalances, disease outbreaks and environmental degradation.</p>
   <div>
      <img [src]="image1">
    </div>
<h1>PROS</h1>
<p>Pro1: Promotes Health
   Consuming healthy foods can improve your overall health. Healthy foods are whole, organically grown without pesticides, unprocessed and include fresh fruits, vegetables, legumes, nuts, seeds, grains and olive and vegetable oils. Healthy foods for people who eat animal products include moderate amounts of low-fat dairy and cold water, fatty fish, such as salmon and light tuna and low amounts of lean meat and poultry. These foods may promote health and increase your longevity. Healthy food choices include products that contain calcium for bone growth, antioxidants to slow down the aging process and healthy fats to maintain cellular and cardiovascular health.</p>

<p>Pro2: Reduces Risk of Disease
   Healthy foods reduce your risk of chronic diseases. Low glycemic foods, such as barley, grapefruits and chickpeas, help you control blood sugar levels and may reduce your risk of diabetes and complications, such as nerve damage. Healthy fats, such as monounsaturated fatty acids from olive oil and omega-3 fatty acids from walnuts and fish, may reduce your risk of cardiovascular disease.Fruits and vegetables contain an abundance of antioxidants, which may reduce your risk of cancer. Dairy and soy foods contain calcium, which can reduce your risk of osteoporosis.</p>
   <div>
      <img [src]="image2"  width="40%" height="400px">
      <img [src]="image5"  width="40%" height="400px">
</div>
<h1>CONS</h1>
<p>Con1: Not Always Easy to Find
   Healthy food choices are not always easy to find, particularly at restaurants. Many fast food restaurants cook with trans fats, industrial processed hydrogenated vegetable oils that can increase your risk of heart disease. Many of the food choices on restaurant menus include foods with high amounts of calories, sodium and saturated fat. To eat healthy, order a salad with dressing on the side.</p>
   <p>Con: Cost
      A common perception among people who do not shop at health food stores is that health foods are more expensive than similar products in mainstream grocery stores. The truth is that many gourmet brands of health foods are costly, yet there are less-expensive health food brands of products. Buying organic produce can be expensive, but can be less costly when grown locally. Eating healthier, sometimes costlier foods, may help you save more tomorrow on not having to pay for health care expenses from treating chronic diseases that may result from eating unhealthy foods. Research at Harvard School of Public Health published in the "Journal of the American College of Nutrition" in 2008 demonstrates that people who are introduced to healthy foods and subsidized 20 percent of the cost increased their consumption of healthy foods after the subsidy was removed.</p>
      <div>
         <img [src]="image4"  width="40%" height="400px">
         <img [src]="image3"  width="40%" height="400px">
</div>

