

<h2 style="color: rgb(226, 43, 171);">DETAILS OF PROJECT MEMBERS</h2>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="image-container"><div class="flip-box">
    <div class="flip-box-inner">
      <div class="flip-box-front">
        <h2><img [src]="principal" height="500" width="500" class="image"></h2>
      </div>
      <div class="flip-box-back">
        <h2><ul>Name:<br>
          
Dr. M. SREENIVASA KUMAR
<br>
          
           <br>Principal of<br>
  
           <br>Narasaropeta<br>
           <br>Engineering 
           college<br>
          </ul></h2>
      </div>
    </div>


</div>
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <h2><img [src]="hod" height="80%" width="50%" class="image"></h2>
    </div>
    <div class="flip-box-back">
      <h2><ul>Name:<br>
        
Dr.S.N.TIRUMALA RAO
<br>
        
         <br>HOD OF CSE DEPT<br>

         <br>Narasaropeta<br>
         <br>Engineering 
         college<br>
        </ul></h2>
    </div>
  </div>


</div>
<div class="flip-box">
  <div class="flip-box-inner">
    <div class="flip-box-front">
      <h2><img [src]="rafi" height="80%" width="50%" class="image"></h2>
    </div>
    <div class="flip-box-back">
      <h2><ul>Name:<br>
        
SHAIK RAFI
<br>
        
         <br>MENTOR OF OUR PROJECT<br>

         <br>Narasaropeta<br>
         <br>Engineering 
         college<br>
        </ul></h2>
    </div>
  </div></div></div>

<div class="image-container">
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2><img [src]="yashu2" height="800px" width="80%" class="image"></h2>
          </div>
          <div class="flip-box-back">
            <h2><ul>Name:<br>
              Yasaswini Bollineni<br>
              <br> ROLL NO:
               <br>21471A0512<br>
      
               <br>PH_NO:8247626375<br>
               <br>EMAIL:
               <br>yasaswinibollineni25@gmail.com<br>
              <br>GUIDED BY :
          <br>DR.S.N.TIRUMALA RAO sir ,
      SHAIK RAFI sir<br></ul></h2>
          </div>
        </div>
      </div>
      
      <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <h2><img [src]="srilatha" height="500" width="500" class="image"></h2>
            </div>
            <div class="flip-box-back">
              <h2><ul>Name:<br>
                Srilatha Amireddy<br>
                <br> ROLL NO:
                 <br>21471A0503<br>
        
                 <br>PH_NO:9059926013<br>
                 <br>EMAIL:
                 <br>srildatha amireddy123@gmail.com<br>
                <br>GUIDE BY :
            <br>DR.S.N.TIRUMALA RAO sir,
        SHAIK RAFI sir<br></ul></h2>
            </div>
          </div>
        </div>
         
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <h2><img [src]="varsha" height="500" width="500" class="image"></h2>
            </div>
            <div class="flip-box-back">
              <h2><ul>Name:<br>
                P.S.S.Varsha<br>
                <br> ROLL NO:
                 <br>21471A0546<br>
        
                 <br>PH_NO:9618052761<br>
                 <br>EMAIL:
                 <br>varshapogula15@gmail.com<br>
                <br>GUIDED BY :
            <br>DR.S.N.TIRUMALA RAO sir,
        SHAIK RAFI sir<br></ul></h2>
            </div>
          </div>
        </div></div>
  <div class="image-container">
    <div class="flip-box">
        <div class="flip-box-inner">
          <div class="flip-box-front">
            <h2><img [src]="indu" height="800px" width="80%" class="image"></h2>
          </div>
          <div class="flip-box-back">
            <h2><ul>Name:<br>
              Indravathi chinni<br>
              <br> ROLL NO:
               <br>21471A0527<br>
      
               <br>PH_NO:7207241584<br>
               <br>EMAIL:
               <br>indravathichinni5@gmail.com<br>
              <br>GUIDED BY :
          <br>DR.S.N.TIRUMALA RAO sir,
      SHAIK RAFI sir<br></ul></h2>
          </div>
        </div>
      </div>
      
      <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <h2><img [src]="sobha" height="500" width="500" class="image"></h2>
            </div>
            <div class="flip-box-back">
              <h2><ul>Name:<br>
                Sobharani Bojja<br>
                <br> ROLL NO:
                 <br>21471A0509<br>
        
                 <br>PH_NO:7995611388<br>
                 <br>EMAIL:
                 <br>bojjasobha321@gmail.com<br>
                <br>GUIDED BY :
            <br>DR.S.N.TIRUMALA RAO sir ,
        SHAIK RAFI sir<br></ul></h2>
            </div>
          </div>
        </div>
         
        <div class="flip-box">
          <div class="flip-box-inner">
            <div class="flip-box-front">
              <h2><img [src]="harini" height="500" width="500" class="image"></h2>
            </div>
            <div class="flip-box-back">
              <h2><ul>Name:<br>
                ch.harini<br>
                <br> ROLL NO:
                 <br>21471A0516<br>
        
                 <br>PH_NO:7993974512<br>
                 <br>EMAIL:
                 <br>chinnamharini30@gmail.com<br>
                <br>GUIDED BY :
            <br>DR.S.N.TIRUMALA RAO sir ,
        SHAIK RAFI sir<br></ul></h2>
            </div>
          </div>
        </div>
        </div>

        <div class="image-container">
            <div class="flip-box">
                <div class="flip-box-inner">
                  <div class="flip-box-front">
                    <h2><img [src]="sahithi" height="800px" width="80%" class="image"></h2>
                  </div>
                  <div class="flip-box-back">
                    <h2><ul>Name:<br>
                      Sahithi Mellacheruvu<br>
                      <br> ROLL NO:
                       <br>21471A0535<br>
              
                       <br>PH_NO:8919478774<br>
                       <br>EMAIL:
                       <br>sahithims54@gmail.com<br>
                      <br>GUIDED BY :
                  <br>DR.S.N.TIRUMALA RAO sir ,
              SHAIK RAFI sir<br></ul></h2>
                  </div>
                </div>
              </div>
              
              <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                      <h2><img [src]="teja" height="500" width="500" class="t"></h2>
                    </div>
                    <div class="flip-box-back">
                      <h2><ul>Name:<br>
                        Tejaswini Kolla<br>
                        <br> ROLL NO:
                         <br>21471A0530<br>
                
                         <br>PH_NO:9347473037<br>
                         <br>EMAIL:
                         <br>tejaswinichowdary437@gmail.com<br>
                        <br>GUIDED BY :
                    <br>DR.S.N.TIRUMALA RAO sir ,
                SHAIK RAFI sir<br></ul></h2>
                    </div>
                  </div>
                </div>
                 
                <div class="flip-box">
                  <div class="flip-box-inner">
                    <div class="flip-box-front">
                      <h2><img [src]="srilatha" height="500" width="500" class="image"></h2>
                    </div>
                    <div class="flip-box-back">
                      <h2><ul>Name:<br>
                        vasavi aravapalli<br>
                        <br> ROLL NO:
                         <br>21471A0504<br>
                
                         <br>PH_NO:7093760074<br>
                         <br>EMAIL:
                         <br>v70937@gmail.com<br>
                        <br>GUIDED BY :
                    <br>DR.S.N.TIRUMALA RAO sir ,
                SHAIK RAFI sir<br></ul></h2>
                    </div>
                  </div>
            
        
  </div>
        </div>
  
</body>
</html>