
<img src="assets/image/YOIT.png" width="30%" height="70%">
<img src="assets/image/7HHP.png" width="30%" height="70%">
<img src="assets/image/SPYJ.png" width="30%" height="70%">
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>MALNUTRITION</h4>
          <ul>
            <li><a href="http://localhost:4200/home">Home</a></li>
            <li><a href="http://localhost:4200/sc3">About Us</a></li>
            <li><a href="http://localhost:4200/sc4">CONTACT US</a></li>
            <li><a href="http://localhost:4200/insert">SERVICES</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Get Help</h4>
          <ul>
            <li><a href="http://localhost:4200/sc10">Nutrition</a></li>
            <li><a href="http://localhost:4200/sc8">WHO</a></li>
            <li><a href="http://localhost:4200/sc1">INFO</a></li>
 
          </ul>
        </div>
        <div class="footer-col">
          <h4>Address</h4>
          <ul>
            <li><a href="https://www.nrtec.in/">NarasaraopetaEngineering College is an Engineering college for Higher Education in India, located in Narasaraopeta, Guntur District, Andhra Pradesh, India.</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us</h4>
          <div class="social-links">
            <a href="https://www.nrtec.in/"><i class="fa fa-google"></i>Website</a>
            <a href="https://www.nrtec.in/cse-faculty/"><i class="fa fa-google"></i>CSE</a>
            <a href="https://www.instagram.com/nrtec/"><i class="fa fa-google"></i>instagram</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.facebook.com/nrtenggcollege/"><i class="fa fa-google"></i>Facebook</a>
          </div>
        </div>
      </div>
    </div>
 </footer>